tensorflow==2.3.0
seaborn==0.11.0
tqdm==4.30.0
numpy==1.18.4
scipy==1.4.1
nltk==3.5
torchvision==0.6.0
pandas==1.0.3
torchtext==0.4.0
tabulate==0.8.7
matplotlib==3.3.1
tensorflow_hub==0.10.0
termcolor==1.1.0
torch==1.5.0
iopath==0.1.3
cloudpickle==1.6.0
flair==0.6.1.post1
docutils==0.15.2
spacy==2.1.9
opencv_python==4.4.0.42
pycocotools==2.0.2
caffe2==0.8.1
cityscapesscripts==2.2.0
dataclasses==0.8
hydra==2.5
ipython==7.23.1
onnx==1.9.0
Pillow==8.2.0
psutil==5.8.0
PyYAML==5.4.1
recommonmark==0.7.1
scikit_learn==0.24.2
Shapely==1.7.1
skimage==0.0
wordcloud==1.8.1
opencv-python==4.2.0.34
lxml==4.5.1
tornado==6.0.4
pytest==6.1.2
Cython==0.29.21
mysql-connector-python==8.0.21
Flask==1.1.2